.social-link {
    display: flex;
    margin-block: 8px;
    padding-left: 16px;
}

.social-link-content {
    display: flex;
    align-items: center;
    gap: 8px;
}


.social-link-content::before {
    font-size: 1.15em;

    content: "\00a0";
}

.social-link-content > a {
    transition: all 0.5s ease 0s;
}

.social-link-content > img {
    transition: all 0.5s ease 0s;
}

.social-link-content:hover img {
    scale: 1.15;
}

.social-link-content:hover a {
    font-size: 1.15em;
}
