$ff: Verdana;

$h1: bold 1.8rem / 1em $ff;
$h2: bold 1.4rem / 1.2em $ff;
$h3: bold 1rem / 1.2em $ff;

$p: 0.9rem / 1.6em $ff;

$main-black: #1B1B1B;
$contrast-black: #242424;

$main-white: #F4FDFF;
$main-white-dimmed: #7A7E7E;

$accent-red: #FE496A;
